@font-face {
  font-family: "sourcecode";
  src: url("assets/SourceCodePro-Regular.ttf");
}
@font-face {
  font-family: "sourcecode-bold";
  src: url("assets/SourceCodePro-Bold.ttf");
}
body {
  text-align: center;
  margin: 1rem;
  font-family: "sourcecode";
}
h1, h2, h3 {
  font-size: 25px;
}
h1 {
  padding: 0.5rem 0rem;
  color: #fff;
}
h2, h3 {
  font-family: "sourcecode-bold";
}
h2 {
  color: #222;
}
h3 {
  text-decoration: underline;
  text-transform: uppercase;
  padding: 2.5rem 0rem 0.5rem 0rem;
  color: #fff;
}
.h1-top {
  padding: 2.5rem 0rem 0.5rem 0rem;
}
.logo {
  width: 15%;
}
.prescreen-game {
  width: 800px;
  height: 600px;
  margin: 0rem auto;
  background-color: #222;
}
.prescreen_start-game {
  font-family: "sourcecode";
  background-color: #be03fd;
  width: 20%;
  margin: 3rem auto;
  padding: 1.5rem;
  cursor: pointer;
  animation-name: pulsate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.endscreen-game {
  display: none;
  position: absolute;
  z-index: 5;
  width: 800px;
  height: 600px;
  margin-left: calc(50%);
  transform: translateX(calc(-50% - 1rem));
  background-color: #222;
}
.endscreen_score-game {
  color: #be03fd;
  font-size: 150px;
}
.endscore-result {
  color: #be03fd;
  font-size: 50px;
}
.light-left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 70px 0 70px 400px;
  border-color: transparent transparent transparent #dfff113d;
  animation-name: spotlight;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform: rotate(155deg);
  position: absolute;
  left: -20px;
  bottom: 20px;
}
.light-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 95px 0 95px 600px;
  border-color: transparent transparent transparent #dfff113d;
  animation-name: spotlight;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform: rotate(45deg);
  position: absolute;
  right: -90px;
  bottom: 115px;
}
@keyframes pulsate {
  0% {background-color: #be03fd;}
  25% {background-color: #dfff11;}
  50% {background-color: #be03fd;}
  75% {background-color: #0ff0fc;}
  100% {background-color: #be03fd;}
}
@keyframes spotlight {
  0% {border-color: transparent transparent transparent #be03fd41;}
  25% {border-color: transparent transparent transparent #dfff113d;}
  50% {border-color: transparent transparent transparent #be03fd41;}
  75% {border-color: transparent transparent transparent #0ff0fc36;}
  100% {border-color: transparent transparent transparent #be03fd41;}
}